<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" th:href="@{/img/favicon.ico}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}"/>

    <title th:text="${recording.getName()} + ' | VC'"></title>
</head>
<body>
<nav th:replace="parts/navbar :: navbar"></nav>

<div class="p-2"></div>
<div class="container mt-5 mb-5">
    <h1 align="center" style="alignment: center" th:text="'Сведения по записи ' + ${recording.getName()}"></h1>

    <div id="record" class="bg-light mt-2" style="margin: 10px; border-radius: 7px">
        <h2 th:text="'Номер: ' + ${recording.getId()}"></h2>
        <h3 th:text="'Название: ' + ${recording.getName()}"></h3>
        <p th:text="'Владелец: ' + ${recording.getOwner().getUsername()}"></p>
        <p id="recording-blob" th:text="${recording.getContent()}" hidden></p>
        <audio id=recordedAudio></audio>
    </div>
    <form th:action="@{/rec/delete}" class="mt-1" method="POST">
        <input type="hidden" name="id" th:value="${recording.getId()}">
        <button type="submit" class="btn btn-primary btn-small"
                style="border-color: #fc2020; background-color: #ff0000; color: #ffffff">Удалить
        </button>
    </form>
</div>

<footer th:replace="parts/footer :: footer"></footer>
<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/setActiveNavLink.js}"></script>
<script type="text/javascript" th:src="@{/js/audioDecode.js}"></script>
</body>
</html>